<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateInsert</servlet-name>
        <servlet-class>ValidateInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateDelete</servlet-name>
        <servlet-class>ValidateDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateUpdate</servlet-name>
        <servlet-class>ValidateUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateView</servlet-name>
        <servlet-class>ValidateView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateViewAll</servlet-name>
        <servlet-class>ValidateViewAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateInsert</servlet-name>
        <url-pattern>/ValidateInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateDelete</servlet-name>
        <url-pattern>/ValidateDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateUpdate</servlet-name>
        <url-pattern>/ValidateUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateView</servlet-name>
        <url-pattern>/ValidateView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateViewAll</servlet-name>
        <url-pattern>/ValidateViewAll</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
